
    <h1>
    To Do Application  
    </h1>
    <h2>"Our greatest weakness lies in giving up. The most certain way to succeed is always to try just one more time."</h2> 
    <br>
                   <h2 class="Label">Chores to complete</h2>
    
    <ul class="card">
      <li> <input type="checkbox" name=""/>
         <a href="show/1">Wash dishes</a>
  
      
      </li>
      
      <li>
        <input type="checkbox" name=""/>
       <a href="show/2">Do laundry</a>
      
      </li>
      <li>
        <input type="checkbox" name=""/>
        <a href="show/3">Clean bathroom</a>
       
      </li>
  
      <li>
        <input type="checkbox" name=""/>
       <a href="show/4">Throw the trash out</a> 
       
      </li>
     
    </ul>
    
    <h2 class="Label">Homework to get done</h2>
        
        <ul>
         <li> <input type="checkbox" name=""/>
       <a href="show/5">Physics homework</a> 
     
  
      
      </li>
      
      <li>
        <input type="checkbox" name=""/>
      <a href="show/6">Read book for english</a> 
      </li>
      <li>
        <input type="checkbox" name=""/>
      <a href="show/7">Finish essay</a> 
       
   
     
    </ul>
  
  <h2 class="Label">Grocery List</h2>
        
        <ul>
         <li> <input type="checkbox" name=""/>
       <a href="show/8">Toilet paper</a> 
     
   </li>
    
      <li>
        <input type="checkbox" name=""/>
       <a href="show/9">Milk</a> 
      </li>
      <li>
        <input type="checkbox" name=""/>
       <a href="show/10">Eggs</a> 
       
   
     
    </ul>
     <input type="text" placeholder="Add a new task.."> <br>

      <input type="submit" value="Add a new task...">  <br>
   
  
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="site.js"></script>
