 <h3>Todo #<%= params[:id] %></h3>
 
 <h1>[Task]</h1>
    <h3>Label: [Insert label]</h3>
    <p>(description of task)</p>
     <input type="checkbox" name="checkbox" id="checkbox_id" value="value">
<label for="checkbox_id">Completed</label>
     <br>
 
     
     <input type="submit" value="Edit">
    <input type="submit" value="Delete">
    <form action="/todo/index">
    <input type="submit" value="Go back" />
    
</form>